<section [ngStyle]="{'padding': results.length > 0 ? '1rem' : '1rem 2rem' }">
  <div class="search-container">
    <div class="header">
      <button mat-raised-button color="primary" (click)="clearAll()">Tout supprimer</button>
      <h1>Rechercher un restaurant</h1>
    </div>
    <app-restaurant-map #osmMap [selectedRestaurant]="selectedRestaurant$ | async"></app-restaurant-map>
    <app-search (setDisplayedResultsEvent)="setDisplayedResults($event)"></app-search>
  </div>
  <div [ngClass]="{ 'flex-grow': results.length > 0 }">
    <app-restaurant-results [searchedResults]="results"
      [selectedRestaurant]="selectedRestaurant$ | async"></app-restaurant-results>
  </div>
</section>