.container {
  display: flex;
  flex-direction: column;
}

.map-container {
  height: 300px;
}

.tip {
  font-size: 12px;
  margin-top: 0.5em;
}

@media (max-width: 600px) {
  .map-container {
    height: 250px;
  }
}