@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

:root {
  --color-primary: #673ab7;
  --color-dark-primary: #7a1a88;
  --color-black: #000;
  --color-white: #fff;
}


body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
  margin: 0px;
  padding: 0px;
}

.padding-1em {
  padding: 1em;
}

.full-width {
  width: 100%;
}