:root {
  --color-primary: #9c27b0;
  --color-dark-primary: #7a1a88;
  --color-black: #000;
  --color-white: #fff;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.padding-1em {
  padding: 1em;
}

.my-app-background {
  color: var(--color-primary)
}

.full-width {
  width: 100%;
}